* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor01:var(#333);



}
body {

}



.menu {
    margin: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}



.logo {
    width: 7em;

}

.lista {
    display: flex;
    gap: 30px;
    text-decoration: none;
    list-style: none;
    text-align: center;


}

.lista a {
    text-decoration: none;
    color: #2f782b;
    font-weight: bold;
    font-size: 2em;
    margin-left: 0;
    transition: 0.3s;
    text-shadow: 2px 2px 4px hsla(0, 0%, 0%, 0.199);

}

.lista a:hover {
    color: black;

}

.titulo {
    font-size: 30px;


}

.subtitulo{
    

}